<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org"
	th:replace="navbar::layout(~{::body})">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<div class="alert alert-success" th:if="${#strings.equals(passwordChanged,'true')}" role="alert">
  	Password Changed Successfully!
</div>
	<form method="post" th:action="@{/changepassword}">
		<div class="mb-3">
			<label for="password" class="form-label">Old Password*</label> <input
				type="password" name="oldPassword" id="oldPassword"
				class="form-control" required>
		</div>
		<div style="color:red" th:if="${#strings.equals(oldPassword,'true')}">
			Enter Correct Password
		</div>
		<div class="mb-3">
			<label for="newPassword" class="form-label">New Password*</label> <input
				type="password" name="newPassword" id="newPassword"
				class="form-control" onchange="passwordCheck()" required>
		</div>
		<div class="mb-3">
			<label for="newPassword1" class="form-label">Confirm Password*</label> <input
				type="password" name="newPassword1" id="newPassword1"
				class="form-control" onchange="passwordCheck()" required>
			</div>
		<div id="passwordMatch" style="color:red;">
			
		</div>
		<button type="submit" class="btn btn-success" id="submitButton">
			Change Password</button>
	</form>
	<script>
			function passwordCheck(){
				let password = document.getElementById('newPassword')
				let confirmPassword = document.getElementById('newPassword1')
				console.log(password.value);
				console.log(confirmPassword.value);
				if(password.value != confirmPassword.value){
					document.getElementById('submitButton').disabled = true;
					var passwordMatch = document.getElementById('passwordMatch');
					passwordMatch.style = "color:red";
					passwordMatch.innerText = "Password Not Matched";
					
				}else{
					document.getElementById('submitButton').disabled = false;
					var passwordMatch = document.getElementById('passwordMatch');
					passwordMatch.style = "color:green";
					passwordMatch.innerText = "Password Matched";
				}
			}
	</script>
</body>
</html>