<!doctype html>
<html lang="en" xmlns:th="https://www.thymleaf.org" th:replace="navbar::layout(~{::body})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
<form method="post" th:action="@{/forgotpassword}">
	<div class="col-lg-4 mb-3">
		<input type="email" class="form-control" id="email" name="email" placeholder="Email">
	</div>
	<div th:if="${#strings.equals(found,'false')}" class="alert alert-danger" role="alert">
		Email id not registered
	</div>
	<button  class="btn btn-success" type="submit" >Send OTP</button>
</form>	 
</body>
</html>