<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org" th:replace="navbar::layout(~{::body})">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<form method="post" th:action="@{/changepassword}">
	<div class="col-lg-4 mb-3">
		<input type="number" class="form-control" id="otp" name="otp" placeholder="otp">
	</div>
	<div th:if="${#strings.equals(otpmatched,'false')}">OTP not matched</div>
	<input type="email" th:value="${email}" class="form-control" id="email" name="email" placeholder="email">
	<div class="col-lg-4 mb-3">
		<input type="password" class="form-control" id="password" name="password" placeholder="Password">
	</div>
	<div class="col-lg-4 mb-3">
		<input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password">
	</div>
	<div th:text="${passwordError}"></div>
	<button  class="btn btn-success" type="submit" >Send OTP</button>
</form>
</body>
</html>